:root{
    --text-color:#252B42;
    --second-text-color:#737373;
    --primary-color:#FF7B47;
    --secondary-color-1:#0D5C63;
    --light-text-color:#FFFFFF;
    --color-principal:#FAFAFA;
}

body{
    margin:0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}
header{
    background: url(images/imagenheader.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-color: var(--color-principal);
}
header> nav > h3 {
    display: flex;
    align-items: start;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    color: var(--text-color);
    padding: 0px 0.5px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header>nav>div>ul{
    display: flex;
    list-style: none;
}
header> nav> div>ul > li >a {
    text-decoration: none;
    margin-right: 45px;
    font-weight: 500;
    color: var(--second-text-color);
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>nav>img{
    display: flex;
    justify-content: end;
    align-items: end;
    
   
}

.container{
    height: 700px;
    display: grid;
    grid-template-rows: 50% 50%;
}
.container > div:first-child{
    padding:135px 200px;
    
    
     
}
.container > div:first-child> h1{
    font-size: 362.5%;
    
    color: var(--text-color);
    

}
.container > div:first-child> h4{
   
    font-size: 125%;
    color: var(--second-text-color);
}
.btn{
    border: none;
    border-radius: 37px;
    padding: 10px 36px 10px 36px !important;
    height: 48px;
}
.btn-primary{
    background-color: var(--primary-color);
    color:var(--light-text-color);

}
.btn-transparent{
    border: 1px solid var(--secondary-color-1);
    background-color: transparent;
    color:var(--secondary-color-1);
}
.item-container{
    display: grid;
    grid-template-columns: 26% 26% 26%;
    column-gap: 30px;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -115px;
}
.item{
    box-shadow:  0px 2px 5px 0px;
    margin: 0px 20px;
    padding: 35px 40px 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: start;
    background-color: var(--light-text-color);
}
.itemcolor{
    box-shadow:  0px 2px 5px 0px;
    margin: 0px 20px;
    padding: 35px 40px 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    align-items: start;
    background-color: var(--secondary-color-1);
}
.item > h1{
    font-size: 1.5em;
    color: var(--text-color);
}
.itemcolor > h1{
    font-size: 1.5em;
    color: var(--light-text-color);
}
.item>p{
    font-size: 0.875em;
    color:var(--second-text-color)
}
.itemcolor>p{
    font-size: 0.875em;
    color:var(--light-text-color)
}
.item>img{
    width: 48px;
    height: 48px;
    stroke: var(--secondary-color-1);
    margin: 0 15px;
}
.itemcolor>img{
    width: 48px;
    height: 48px;
    stroke: var(--light-text-color);
    margin: 0 15px;
}
.detail{
    background-color: var(--color-principal);
    margin: 400px 20px 0 20px;
    
}
.contaner{
    width: 1381px;
    height:526px;
    top: 924px;  
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px 10px 0 10px;
}

.contaner>div:first-child>h2{
    font-size: 40px;
    color: var(--text-color);
}
.contaner>div:last-child>p{
    font-size: 14px;
    color: var(--second-text-color);
    display: flex;
    justify-content: center;
}
.images{
    display: flex;
    justify-content: space-between;
    
}
.images>div:nth-child(1){
    padding: 30px 40px 30px 40px;
    width: fixed(238px);
    height: (209px);
    background-color: var(--light-text-color);
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images>div:nth-child(1)>img{
    height: 48px;
    width: 48px;
}
.images>div:nth-child(1)>h2{
    font-size: 40px;
    color: var(--text-color);
}
.images>div:nth-child(1)>h5{
    font-size: 16px;
    color: var(--second-text-color);
}
.images>div:nth-child(2){
    padding: 30px 40px 30px 40px;
    width: fixed(238px);
    height: (209px);
    background-color: var(--light-text-color);
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images>div:nth-child(2)>img{
    height: 48px;
    width: 48px;
}
.images>div:nth-child(2)>h2{
    font-size: 40px;
    color: var(--text-color);
}
.images>div:nth-child(2)>h5{
    font-size: 16px;
    color: var(--second-text-color);
}

.images>div:nth-child(4){
    padding: 30px 40px 30px 40px;
    width: fixed(238px);
    height: (209px);
    background-color: var(--light-text-color);
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images>div:nth-child(4)>img{
    height: 48px;
    width: 48px;
}
.images>div:nth-child(4)>h2{
    font-size: 40px;
    color: var(--text-color);
}
.images>div:nth-child(4)>h5{
    font-size: 16px;
    color: var(--second-text-color);
}
.images>div:nth-child(3){
    padding: 30px 40px 30px 40px;
    width: fixed(238px);
    height: (209px);
    background-color: var(--light-text-color);
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images>div:nth-child(3)>img{
    height: 48px;
    width: 48px;
}
.images>div:nth-child(3)>h2{
    font-size: 40px;
    color: var(--text-color);
}
.images>div:nth-child(3)>h5{
    font-size: 16px;
    color: var(--second-text-color);
}
.advecide{
    background-color: var(--color-principal);
    top: 1450px;
    width: 1381px;
    height: 699px;
}
.arriba{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1051px;
    height:197px;
    padding: 45px 0 45px 0; 
}
.arriba> div:first-child> h2{
    font-size: 40px;
    color: var(--text-color);
    
}
.arriba > div:first-child > p{
    font-size: 14px;
    color: var(--second-text-color);
   
}
.images2{
    display: flex;
    justify-content: space-between;
    width: 1,049px;
    height: 342px;
    
}
.images2>div:nth-child(1){
    padding: 30px;
    width: Fixed (232px);
    height:  (203px);
    background-color: var(--light-text-color);
    gap: 15px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images2>div:nth-child(1)>h5{
    font-size: 16px;
    color: var(--text-color);
    line-height: 20px;
}
.images2>div:nth-child(1)>p{
    font-size: 14px;
    color: var(--second-text-color);
}
.images2>div:nth-child(2){
    padding: 30px;
    width: Fixed (232px);
    height:  (203px);
    background-color: var(--light-text-color);
    gap: 15px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images2>div:nth-child(2)>h5{
    font-size: 16px;
    color: var(--text-color);
    line-height: 20px;
}
.images2>div:nth-child(2)>p{
    font-size: 14px;
    color: var(--second-text-color);
}
.images2>div:nth-child(3){
    padding: 30px;
    width: Fixed (232px);
    height:  (203px);
    background-color: var(--light-text-color);
    gap: 15px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images2>div:nth-child(3)>h5{
    font-size: 16px;
    color: var(--text-color);
    line-height: 20px;
}
.images2>div:nth-child(3)>p{
    font-size: 14px;
    color: var(--second-text-color);
}
.images2>div:nth-child(4){
    padding: 30px;
    width: Fixed (232px);
    height:  (203px);
    background-color: var(--light-text-color);
    gap: 15px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.images2>div:nth-child(4)>h5{
    font-size: 16px;
    color: var(--text-color);
    line-height: 20px;
}
.images2>div:nth-child(4)>p{
    font-size: 14px;
    color: var(--second-text-color);
}
footer{
    padding: 0px 70px;
    padding-bottom: 40px;
}









